*{
    margin: 0;
    padding: 0%;
    list-style: none;
    color: inherit;
    text-decoration: none;
}


.wrap{ width: 1092px; margin: 0 auto;}

header {border-top: 2px solid #50b5ff;}

header .wrap{
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .gnb{
    display: flex;
}

header .gnb li{
    margin: 0 25px;
    font-weight: bold;

}

header .util input{
    height: 26px;
    box-sizing: border-box;
    background-image: url(../images/icon_search2.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: auto 17px;
    padding: 10px;  
}

header .util button{
    height: 26px;
    border: 0px;
    width: 64px;
    color: #fff;
}

header .util .login{background-color: #f49600;}
header .util .join{background-color: #50b5ff;}


.banner{
    height: 454px;
    background-image: url(../images/key_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
       
}

.banner h2{
    text-align: center;
    font-size: 40px;
    /*margin-top: 80px; 첫번째 자식에겐 마진탑 안먹힘 */
    font-weight: 900;
    padding-top: 80px;
    
}
.banner >p{
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}


.banner .serch-box{
    width: 560px;
    height: 100px;
    background-color:rgba(0,0,0,0.6); /*색에 투명도 넣기*/
    margin: 0 auto;   
    border-radius: 5px;
    padding: 20px;
}

.banner .serch-box input{
    width: 560px;
    height: 50px;
    border: 0;
    padding:20px;
    box-sizing: border-box;
    color: #444;  
    background-image: url(../images/icon_search1.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .serch-box .option{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.banner .keyword a:hover{
    text-decoration: underline;
}
.intro {
    padding : 80px 0 70px
}
.intro h3{
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.intro .content{
    display: flex;
    justify-content:space-between
}

.intro .content > div{
    width: 348px;
}

.intro .content img{
    transition: all 0.7s;
}



.intro .content > div:hover img{
    /*box-shadow : xoffset ydoffset blur color;이미지에 마우스 올리면 그림자 생기게 하기*/
    box-shadow: 3px 3px 3px rgba(2,2,2,0.7);

}


.intro .tit{
    font-size: 18px;
    color: #0087ea;
    margin: 30px 0 22x;
    text-align: center;
}

.intro .desc{
    font-size: 14px;
    color: #666;
}

.intro .more{
    color: #f49600;
    text-align: center;
    margin-top: 25px;
    
}
.plan {
    background-color: #f0f0f0;
    padding: 70px 0;;
}

.plan h3{
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;

}

.plan .subtit{
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.plan .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.plan .box{
    width: 346px;
    border: 1px solid #ccc;
    margin-bottom: 24PX;
}

.plan .box:hover .thumb img{
transform: scale(1.5);


}

.plan .thumb{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.plan .thumb img{
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.plan .thumb .txt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    }

.plan .txt .date{
    color: #179dff;

}

.plan .txt .day{
    color: #999;
}

.plan .txt .tit{
 display: block;
 color: #fff;

}

.plan .info{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
    color: #666;
}

.plan .info .user li{
    margin-bottom: 6px;
    /* background-repeat: no-repeat; */
}

.plan .info .user li:last-child{
    margin-bottom: 0;
    background-image: url(../images/icon_user.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
.plan .info .count{
    display: flex;
    margin-left: 10px;
    
    
}
.plan .info .count li:nth-child(1){
    background-image:url(../images/icon_spot.png);
    padding-left: 14px;
    background-repeat: no-repeat;
    
}
.plan .info .count li:nth-child(2){
    background-image:url(../images/icon_view.png);
    padding-left: 20px;
    background-repeat: no-repeat;
}
.plan .info .count li:nth-child(3){
    background-image:url(../images/icon_copy.png);
    padding-left: 15px;
    background-repeat: no-repeat;
}

.plan .btn{
    width: 346px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px;
    text-align: center;
}

.tip{
    padding: 70px 0;
}

.tip h3{
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;

}

.tip .subtit{
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.tip .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tip .box{
    width: 261px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.tip .wide{
    width: 537px;
}

.tip .thumb{
    height: 200px;
    position: relative;
}

.tip img{
    width: 100%;
    height: 100%;
}

.tip .thumb i{
    font-style: normal;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url(../images/spot_cnt.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
}

.tip .txt{
    padding: 15px;
    text-align: center;
}

.tip .txt. tit{
    margin-bottom: 15px;
}

.tip .txt .desc{
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.city{
    background-color: #f0f0f0;
    padding: 70px;
}

.city h3{
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;

}

.city .content .top{
    display: flex;
    justify-content: space-between;

}

.city .box{
    position: relative;
    font-size: 0;
    margin-bottom: 16px;
}
.city .box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 16px;

}

.city .bottom{
    display: flex;
    justify-content: space-between;

}

.